#logo {
  align-self: bottom;
}

#instalogo {
  width: 120px;
}

#cameraIcon {
  vertical-align: bottom;
}


.logoGroup {
  padding-right: 10px;
  vertical-align: bottom;
}

p {
  display: inline;
  font-size: 35px;
  /* align-self: baseline; */
}



#searchContainer {
  width: 200px;
/* margin: 0 auto; */
  position: relative;
  align-self: center;
}

#searchX {
  position: absolute;
  margin-left: 175px;
  margin-top: -23px;
  color: darkgray;
}

#searchX:hover {
  color: lightgray;
}

.header-content {
  align-items: center;
  justify-content: space-between;
  height: 80px;
  display: flex;
  flex-direction: row;
  width: 900px;
  margin: auto;
  /* vertical-align: baseline; */
}
header {
  border-bottom: .5px solid lightgray;

}
